<div class="server-dialog">
    <h2 style="text-align: center;">Configure new NATS Server</h2>
    <mat-divider></mat-divider>
    <div class="server-name">
        <span>Server Name</span>
        <mat-form-field>
            <mat-label>Server Name</mat-label>
            <input class="server-form-element" matInput placeholder="Server Name" [(ngModel)]="newServer.name">
            <button *ngIf="newServer.name" matSuffix mat-icon-button arial-label="Clear" (click)="newServer.name=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="hostname">
        <span>Hostname</span>
        <mat-form-field>
            <mat-label>Hostname</mat-label>
            <input class="server-form-element" matInput placeholder="Hostname" [(ngModel)]="newServer.host">
            <button *ngIf="newServer.host" matSuffix mat-icon-button arial-label="Clear" (click)="newServer.host=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="message-port">
        <span>Message Port</span>
        <mat-form-field>
            <mat-label>Message Port</mat-label>
            <input class="server-form-element" matInput type="number" placeholder="Message Port" [(ngModel)]="newServer.port" matNativeControl>
            <button *ngIf="newServer.port" matSuffix mat-icon-button arial-label="Clear" (click)="newServer.port=null">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="monitoring-port">
        <span>Monitoring Port</span>
        <mat-form-field>
            <mat-label>Monitoring Port</mat-label>
            <input class="server-form-element" matInput type="number" placeholder="Monitoring Port" [(ngModel)]="newServer.monitoringPort">
            <button *ngIf="newServer.monitoringPort" matSuffix mat-icon-button arial-label="Clear" (click)="newServer.monitoringPort=null">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="action-container">
        <button class="cancel-button" (click)="onNoClick()">
            Cancel
        </button>
        <button class="save-button" (click)="addServer()">
            Save
        </button>
    </div>
</div>
