.global-container {
    display: grid;
    grid-template-columns: auto 2px 300px;
    grid-template-rows: 100%;
}

.left-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 56px 84px 10% 200px 120px;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nav-tree {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.client-information {
    margin-top: 10px;
}

.client-name {
    width: 25%;
    margin-right: 20px;
}

.server-list {
    width: 60%;
    margin-right: 10px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-column-timestamp {
    width: 18%;
    min-width: 200px;
}

.mat-column-type {
    width: 10%;
}

.mat-column-subject {
    width: 25%;
}

.mat-column-message {
    width: 47%;
    max-width: 602px;
    word-break: break-word;
}

span {
    font-weight: 600;
}

p {
    margin-right: 10px;
}

button {
    height: 56px;
}

mat-divider {
    height:  100%;
}