<div class="global-container">
    <div class="left-container">
        <div class="nav-tree">
            <span>NATS-WebUI</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span>Clients</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span>test-client</span>
        </div>
        <div class="client-information">
            <mat-form-field class="client-name">
                <mat-label>Client Name</mat-label>
                <input matInput type="text" [value]="selectedClient.name">
            </mat-form-field>
            <mat-form-field class="server-list">
                <mat-label>Servers</mat-label>
                <mat-select (selectionChange)="changeSelectedServer($event.value)">
                    <mat-option *ngFor="let server of servers$" [value]="server.name">{{server.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button  mat-stroked-button extended="">
                <span>Subscribe</span>
            </button>
        </div>
        <div class="filters" [formGroup]="filters">
            <p><mat-checkbox formControlName="info">Info</mat-checkbox></p>
            <p><mat-checkbox formControlName="info">Ping</mat-checkbox></p>
            <p><mat-checkbox formControlName="info">Pong</mat-checkbox></p>
            <p><mat-checkbox formControlName="info">Ok</mat-checkbox></p>
            <p><mat-checkbox formControlName="info">Err</mat-checkbox></p>
            <p><mat-checkbox formControlName="info">Msg</mat-checkbox></p>
        </div>
        <div class="client-table">
            <table mat-table [dataSource]="messages$">
                <ng-container class="mat-column" matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                    <td mat-cell *matCellDef="let client"> {{client.timestamp}}</td>
                </ng-container>
        
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let client"> {{client.serverAddress}}</td>
                </ng-container>
        
                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef>Subject</th>
                    <td mat-cell *matCellDef="let client">{{client.subject}}</td>
                </ng-container>

                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef>Message</th>
                    <td mat-cell *matCellDef="let client">{{client.message}}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="right-container">
        <span>Server Subject Hierarchy</span> 
    </div>
</div>
