.global-container {
    display: grid;
    grid-template-columns: auto 2px 300px;
    grid-template-rows: 100%;
}

.left-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 56px 84px 84px 200px 120px;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nav-tree {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.client-information {
    margin-top: 10px;
}

.client-name {
    width: 25%;
    margin-right: 20px;
}

.server-list {
    width: 60%;
    margin-right: 10px;
}

.filters {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.filter-boxes {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-input {
    width: 60%;
    margin-left: 19px;
    margin-top: 6px;
}

.subscribe-button {
    height: 60px;
}

.mat-column-timestamp {
    width: 18%;
    min-width: 200px;
    font-size: small;
}

.mat-column-type {
    width: 10%;
    word-break: break-word;
    font-size: small;
}

.mat-column-subject {
    width: 25%;
    word-break: break-word;
    font-size: small;
}

.mat-column-message {
    width: 47%;
    max-width: 602px;
    word-break: break-word;
    font-size: small;
}

span {
    font-weight: 600;
}

p {
    margin-right: 10px;
}

button {
    height: 56px;
    width: 124px;
    border-width: 1px;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 0px;
}

button:hover {
    background-color: #F5F5F5;
    transition: 0.2s;
  }

mat-divider {
    height:  100%;
}