  <div class="main-body">
    <div class="side-nav">
      <h2>Nats-WebUI</h2>
      <app-navigation [showServerInformation]="showServerInformation$" [showServerMonitoring]="showServerMonitoring$"></app-navigation>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="right-div">
      <!-- <app-server-monitoring *ngIf="showServerMonitoring$"></app-server-monitoring>
      <app-serverinformation *ngIf="showServerInformation$"></app-serverinformation>
      <app-clientinformation *ngIf="showClientInformation$"></app-clientinformation> -->
      <app-client-monitoring></app-client-monitoring>
    </div>
  </div>