.main-body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.01fr 6fr;
    grid-template-rows: 100%;
}

.side-nav {
    min-width: 250px;
    height: 100%;
}

.mat-divider {
    color: #CAC4D0;
}

.right-div {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 10px;
}

.content {
    height: 100%;
}