  <div class="main-body">
    <div class="side-nav">
      <h2>Nats-WebUI</h2>
      <app-navigation 
      [showServerInformation]="showServerInformation$" 
      [showServerMonitoring]="showServerMonitoring$" 
      [showClientMonitoring]="showClientMonitoring$"
      [showClientInformation]="showClientInformation$">
      </app-navigation>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="right-div">
      <app-server-monitoring class="content" *ngIf="showServerMonitoring$"></app-server-monitoring>
      <app-serverinformation class="content" *ngIf="showServerInformation$"></app-serverinformation>
      <app-clientinformation class="content" *ngIf="showClientInformation$"></app-clientinformation>
      <app-client-monitoring class="content" *ngIf="showClientMonitoring$"></app-client-monitoring>
    </div>
  </div>