.main-body {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 2px auto;
    grid-template-rows: 100%;
}

.side-nav {
    height: 100%;
    width: 300px;
}

.mat-divider {
    color: #CAC4D0;
}

.right-div {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 92%;
    margin-left: 20px;
}