.global-container {
    display: grid;
    grid-template-columns: auto 2px 300px;
    grid-template-rows: 100%;
}

.left-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 56px 84px 217px 200px 120px;
    margin-right: 10px;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nav-tree {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: 600;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key-values {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}

.upper-key-values {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
}

.lower-key-values {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
}

.meta-data {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
}

.server-title {
    font-weight: 600;
    font-size: 40pt;
}

.server-ip {
    margin-left: 20px;
    font-weight: 600;
    font-size: 14pt;
}

.card-title {
    font-weight: 900;
    font-size: 14pt;
    color: #D2D2D2;
}

.values {
    font-weight: 600;
    font-size: 28pt;
}

.small-card-title {
    font-weight: 600;
    font-size: 14;
    color: #D2D2D2;
}

.meta-values {
    font-weight: 600;
    font-size: 16pt;
}

.meta-card {
    width: 180px;
    height: 80px;
}

.placeholder-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

mat-card {
    width: 220px;
    height: 95px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

span {
    margin-left: 10px;
    font-weight: 600;
}

p {
    font-size: small;
    color: #49454F;
}