<div class="global-container">
    <div class="left-container">
        <div class="nav-tree">
            <span>NATS-WebUI</span>
            <span>Servers</span>
            <span>test-server</span>
        </div>
        <div class="server-name">
            <span class="server-title">test-server</span>
            <span class="server-ip">@192.178.168.0.1</span>
        </div>
        <div class="key-values">
            <div class="upper-key-values">
                <mat-card>
                    <span class="card-title">Total In Messages</span>
                    <span class="values">337.51m</span>
                </mat-card>
                <mat-card>
                    <span class="card-title">Total Messages Out</span>
                    <span class="values">345.99m</span>
                </mat-card>
                <mat-card>
                    <span class="card-title">Total Data Volume In</span>
                    <span class="values">60.94GB</span>
                </mat-card>
                <mat-card>
                    <span class="card-title">Total Data Volume Out</span>
                    <span class="values">62.46GB</span>
                </mat-card>
            </div>
            <div class="lower-key-values">
                <mat-card>
                    <span class="card-title">Messages In Rate</span>
                    <span class="values">1.37k</span>
                </mat-card>
                <mat-card>
                    <span class="card-title">Messages Out Rate</span>
                    <span class="values">1.89k</span>
                </mat-card>
                <mat-card>
                    <span class="card-title">Incoming Data Rate</span>
                    <span class="values">247.61KB/s</span>
                </mat-card>
                <mat-card>
                    <span class="card-title">Outgoing Data Rate</span>
                    <span class="values">337.94KB/s</span>
                </mat-card>
            </div>
        </div>
        <div class="charts">
            <span>CHARTS</span>
        </div>
        <div class="meta-data">
            <mat-card class="meta-card">
                <span class="small-card-title">CPU Usage</span>
                <span class="meta-values">10%</span>
            </mat-card>
            <mat-card class="meta-card">
                <span class="small-card-title">Mem Usage</span>
                <span class="meta-values">15.18MB</span>
            </mat-card>
            <mat-card class="meta-card">
                <span class="small-card-title">Connections</span>
                <span class="meta-values">6</span>
            </mat-card>
            <mat-card class="meta-card">
                <span class="small-card-title">Subscriptions</span>
                <span class="meta-values">24</span>
            </mat-card>
            <mat-card class="meta-card">
                <span class="small-card-title">Slow Consumers</span>
                <span class="meta-values">0</span>
            </mat-card>
            <mat-card class="meta-card">
                <span class="small-card-title">Uptime</span>
                <span class="meta-values">2d8h14m</span>
            </mat-card>
            
        </div>
    </div>
    <div class="right-container">
        <span>SUBJECT TREE</span> 
    </div>
</div>
