<div class="server-table">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let name"> {{name.name}}</td>
        </ng-container>

        <ng-container matColumnDef="hostname">
            <th mat-header-cell *matHeaderCellDef> Hostname </th>
            <td mat-cell *matCellDef="let hostname"> {{hostname.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['Name','Hostname']"></tr>
    </table>
</div>