<div class="upper-div">
    <button (click)="opendAddServerDialog()">
      <mat-icon>add</mat-icon>
      <span>Add Server</span>
    </button>
</div>
<div class="lower-div">
    <div class="server-table">
        <table mat-table [dataSource]="servers$">
            <ng-container class="mat-column" matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let server"> {{server.name}}</td>
            </ng-container>
    
            <ng-container matColumnDef="hostname">
                <th mat-header-cell *matHeaderCellDef> Hostname </th>
                <td mat-cell *matCellDef="let server"> {{server.hostname}}</td>
            </ng-container>
    
            <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef> Port </th>
                <td mat-cell *matCellDef="let server"> {{server.port}}</td>
            </ng-container>
    
            <ng-container matColumnDef="monitoringPort">
                <th mat-header-cell *matHeaderCellDef> MonitoringPort </th>
                <td mat-cell *matCellDef="let server"> {{server.monitoringPort}}</td>
            </ng-container>
    
            <ng-container matColumnDef="connections">
                <th mat-header-cell *matHeaderCellDef> Connections </th>
                <td mat-cell *matCellDef="let server"> {{server.connections}}</td>
            </ng-container>
    
            <ng-container matColumnDef="messagesIn">
                <th mat-header-cell *matHeaderCellDef> Messages In </th>
                <td mat-cell *matCellDef="let server"> {{server.messagesIn}}</td>
            </ng-container>
    
            <ng-container matColumnDef="messagesOut">
                <th mat-header-cell *matHeaderCellDef> Messages Out </th>
                <td mat-cell *matCellDef="let server"> {{server.messagesOut}}</td>
            </ng-container>
    
            <ng-container matColumnDef="bytesIn">
                <th mat-header-cell *matHeaderCellDef> Bytes In </th>
                <td mat-cell *matCellDef="let server"> {{server.bytesIn}}</td>
            </ng-container>
    
            <ng-container matColumnDef="bytesOut">
                <th mat-header-cell *matHeaderCellDef> Bytes Out </th>
                <td mat-cell *matCellDef="let server"> {{server.bytesOut}}</td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let server"> {{server.status}}</td>
            </ng-container>
    
            <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef> Operations </th>
                <td mat-cell *matCellDef="let server"> {{server.operations}}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
        </table>
    </div>
</div>
