.server-table {
    width: 100%;
}

.upper-div {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-tree {
    display: flex;
    align-items: center;
}

.lower-div {
    margin: 10px;
}

button {
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: #49454F;
    color: white;
    border-radius: 20px;
    border-color: #49454F;
}

span {
    font-weight: 600;
}